<!-- <app-menu (toggle-icon-event)="navigateTo($event)"></app-menu> -->
<app-menu (toggle-icon-event)="openModal($event)"></app-menu>

<div class="container d-flex justify-content-center mt-5">
  <router-outlet></router-outlet>
</div>

<!-- <ng-template #modalContent let-modal>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">
      Email address
    </label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">
      Example textarea
    </label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
    </textarea>
  </div>
</ng-template> -->
<ng-template #modalContentHome>
  <form>
    <div class="mb-3">
      <label for="homeInput" class="form-label">Home Input</label>
      <input type="text" id="homeInput" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Home</button>
  </form>
</ng-template>

<ng-template #modalContentAbout>
  <form>
    <div class="mb-3">
      <label for="aboutInput" class="form-label">About Input</label>
      <input type="text" id="aboutInput" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar About</button>
  </form>
</ng-template>

<ng-template #modalContentGames>
  <form>
    <div class="mb-3">
      <label for="gamesInput" class="form-label">Games Input</label>
      <input type="text" id="gamesInput" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Games</button>
  </form>
</ng-template>
<ng-template #modalContentDefault>
  <div>
    <p>Conteúdo padrão, nenhum formulário disponível para a rota selecionada.</p>
  </div>
</ng-template>
